[Unit]
Description=piHomeDatabase Service
Requires=dbus.service
After=dbus.service

[Service]
User=root
ExecStart=/usr/share/pismarthome/databaseManager
Restart=on-failure
RestartSec=5
WatchdogSec=2
Type=notify
NotifyAccess=all/main

[Install]
WantedBy=multi-user.target
