[Unit]
Description=piSmartHome Sensor Manager Service
Requires=dbus.service
After=dbus.service
After=systemd-logind.service
After=piHomeDatabase.service
After=piHomeMail.service

[Service]
User=root
ExecStart=/usr/share/pismarthome/sensorManager
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
