[Unit]
Description=piSmartHome Sensor Manager Service
Requires=dbus.service
After=dbus.service
After=piHomeDatabase.service
After=piHomeMail.service

[Service]
User=root
ExecStart=/usr/share/pismarthome/sensorManager
Restart=on-failure
RestartSec=5
WatchdogSec=2
Type=notify
NotifyAccess=all/main

[Install]
WantedBy=multi-user.target
