[Unit]
Description=piSmartHome Mail Manager Service
Requires=dbus.service
Requires=network.target
After=dbus.service
After=systemd-resolved.service
After=piHomeDatabase.service

[Service]
User=root
ExecStart=/usr/share/pismarthome/mailManager
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
