[Unit]
Description=piHomeMail Service
Requires=dbus.service
Requires=network.target
Requires=piHomeDatabase.service
After=dbus.service
After=systemd-resolved.service
After=multi-user.target
After=systemd-user-sessions.service
After=piHomeDatabase.service

[Service]
User=root
ExecStart=/usr/share/pismarthome/mailManager
Restart=on-failure
RestartSec=5
WatchdogSec=2
Type=notify
NotifyAccess=all/main

[Install]
WantedBy=multi-user.target
